:root {
  --Marineblue: hsl(213, 96%, 18%);
  --Purplishblue: hsl(243, 100%, 62%);
  --Pastelblue: hsl(228, 100%, 84%);
  --Lightblue: hsl(206, 94%, 87%);
  --Strawberryred: hsl(354, 84%, 57%);
  --Coolgray: hsl(231, 11%, 63%);
  --Lightgray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--Lightgray);
}

.container {
  /* border: 2px solid yellow; */
  width: 60%;
  height: auto;
  display: flex;
  /* padding: 15px; */
  background-color: var(--White);
  border-radius: 10px;
  box-shadow: 0px 0px 5px #fff;
}

/* SIDEBAR */
.sidebar {
  /* border: 2px solid orange; */
  width: 33%;
  margin: 12px;
  min-height: 480px;
  background-image: url("assets/images/bg-sidebar-desktop.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 18px;
}

.step {
  margin: 23px 0 0 20px;
  display: flex;
  gap: 15px;
  align-items: center;
  color: #fff;
}

.circle {
  width: 30px;
  height: 30px;
  /* background-color: #fff; */
  border-radius: 50%;
  border: 1px solid #fff;
  text-align: center;
  padding-top: 6px;
}

.circle_active {
  background-color: skyblue;
  color: #000;
  font-weight: bold;
}

.sidebar-step {
  color: var(--Coolgray);
  /* color: red; */
  text-transform: uppercase;
  font-size: 12px;
}

.step-info {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 500;
}

/* STEP */
.step1 {
  /* border: 2px solid green; */
  width: 60%;
  margin: 2rem 3.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.step1_heading {
  color: var(--Marineblue);
  margin: 0.5rem 0;
}

.step1_info {
  color: var(--Coolgray);
  margin-bottom: 2rem;
  /* margin-top: -0.3rem; */
}

.step1 form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  color: var(--Marineblue);
  /* border: 2px solid red; */
}

.step1 form label {
  /* color:red; */
  font-weight: 500;
  font-size: 1rem;
}

.step1 form input {
  height: 2.5rem;
  width: 100%;
  border: 1px solid var(--Coolgray);
  padding-left: 20px;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  /* font-weight: bold; */
  margin-top: 8px;
}

.step1_nextDiv {
  position: absolute;
  right: 0;
  bottom: 10px;
}

.step1_nextBtn {
  border: 2px solid transparent;
  font-size: 1.2rem;
  padding: 7px 12px;
  background-color: var(--Marineblue);
  color: var(--White);
  border-radius: 7px;
  cursor: pointer;
}

/* STEP2 */
.step2 {
  /* border: 2px solid red; */
  width: 60%;
  margin: 2.5rem 3.5rem;
  display: none;
  flex-direction: column;
  /* justify-content: space-between; */
  position: relative;
}

.step2_heading {
  color: var(--Marineblue);
}

.step2_info {
  color: var(--Coolgray);
  margin: 0.5rem 0 2rem 0;
}

.step2_monthly {
  display: flex;
  justify-content: space-between;
}

.step2_yearly {
  display: none;
  justify-content: space-between;
}

.box {
  border: 1.5px solid var(--Lightgray);
  min-width: 31%;
  border-radius: 7px;
  padding: 1rem;
  color: var(--Coolgray);
}

.box input {
  display: none;
}

.box:hover {
  border-color: var(--Purplishblue);
  transition: all ease-in-out 0.5s;
  cursor: pointer;
  background: hwb(240 92% 4%);
}

.step2_box_title {
  margin-top: 1.5rem;
  margin-bottom: 0.3rem;
  color: var(--Marineblue);
  font-weight: bold;
  font-size: 1.1rem;
}

.step2_box_price {
  color: var(--Coolgray);
  font-size: 0.9rem;
}

.step2_box_msg {
  color: var(--Marineblue);
  font-size: 0.9rem;
  margin-top: 0.3rem;
}

.step2_mon_year_btn {
  display: flex;
  gap: 1.3rem;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: var(--Coolgray);
  background-color: var(--Magnolia);
  margin-top: 2rem;
  width: 100%;
  height: 2.4rem;
  /* border: 2px solid orange; */
  border-radius: 4px;
}

.active_btn {
  color: var(--Marineblue);
}

.step2_mon_year_btn label {
  /* border: 2px solid red; */
  position: relative;
  width: 48px;
  height: 24px;
  display: block;
  background: var(--Marineblue);
  border-radius: 50px;
  cursor: pointer;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.3),
    inset 0px -5px 15px rgba(255, 255, 255, 0.3);
}

.step2_mon_year_btn label:after {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  background: var(--White);
  border-radius: 100px;
  top: 3px;
  left: 3px;
  bottom: 3px;
  /* right: 3px; */
  /* margin: 2px; */
  transition: 0.5s;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.step2_mon_year_btn input:checked~label:after {
  left: 45px;
  transform: translateX(-100%);
  /* background: linear-gradient(180deg,#777,#3a3a3a); */
}

.step2_mon_year_btn input {
  display: none;
}

.step_2_back_next_btn {
  /* border: 2px solid saddlebrown; */
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.step_2_back_next_btn button {
  font-size: 1rem;
  padding: 7px 12px;
  /* color: var(--White); */
  border-radius: 7px;
  cursor: pointer;
  border: 2px solid transparent;
  font-weight: bold;
}

.step2-backBtn {
  background-color: var(--White);
  color: var(--Coolgray);
}

.step2-backBtn:hover {
  transition: all ease-in-out 0.5s;
  background-color: var(--White);
  color: var(--Marineblue);
}

.step2-nextBtn {
  color: var(--White);
  background-color: var(--Marineblue);
}

.step2-nextBtn:hover {
  transition: all ease-in-out 0.5s;
  color: var(--White);
  background-color: var(--Purplishblue);
}

/* STEP 3 */
.step3 {
  width: 60%;
  margin: 2.5rem 3.5rem;
  display: none;
  flex-direction: column;
  /* justify-content: space-between; */
  position: relative;
}

.step3_heading {
  color: var(--Marineblue);
}

.step3_info {
  color: var(--Coolgray);
  margin: 0.5rem 0 2rem 0;
}

.step3_monthly {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.step3_yearly {
  /* border: 2px solid red; */
  display: none;
  flex-direction: column;
  gap: 0.8rem;
}

.step3_box {
  border: 1.5px solid var(--Coolgray);
  display: flex;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.step3_box:hover {
  border-color: var(--Purplishblue);
  transition: all ease-in-out 0.5s;
}

.step3_box input {
  transform: scale(1.3);
}

.step3_box_info {
  flex-basis: 72%;
  /* border: 2px solid red; */
}

.step3_box_info label {
  color: var(--Marineblue);
  font-weight: bold;
}

.step3_box_info p {
  color: var(--Coolgray);
  font-size: 0.9rem;
  margin-top: 0.2rem;
  letter-spacing: 0.5px;
}

.step3_box_price {
  color: var(--Purplishblue);
  font-weight: bold;
}

.step3_back_next_btn {
  /* border: 2px solid saddlebrown; */
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.step3_back_next_btn button {
  font-size: 1rem;
  padding: 7px 12px;
  /* color: var(--White); */
  border-radius: 7px;
  cursor: pointer;
  border: 2px solid transparent;
  font-weight: bold;
}

.step3-backBtn {
  background-color: var(--White);
  color: var(--Coolgray);
}

.step3-backBtn:hover {
  transition: all ease-in-out 0.5s;
  background-color: var(--White);
  color: var(--Marineblue);
}

.step3-nextBtn {
  color: var(--White);
  background-color: var(--Marineblue);
}

.step3-nextBtn:hover {
  transition: all ease-in-out 0.5s;
  color: var(--White);
  background-color: var(--Purplishblue);
}

/* STEP 4 */
.step4 {
  /* border: 2px solid red; */
  width: 60%;
  margin: 2.5rem 3.5rem;
  display: none;
  flex-direction: column;
  /* justify-content: space-between; */
  position: relative;
}

.step4_heading {
  color: var(--Marineblue);
}

.step4_info {
  color: var(--Coolgray);
  margin: 0.5rem 0 2rem 0;
}

.step4_bill_info {
  /* border: 2px solid red; */
  background-color: var(--Lightgray);
  padding: 15px 16px;
  border-radius: 10px;

}

.step4_bill_info hr {
  margin-top: 17px;
  margin-bottom: 8px;
}

.step4_display_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.change_option {
  text-decoration: underline;
  color: var(--Coolgray);
  cursor: pointer;
}

.change_option:hover {
  color: var(--Purplishblue);
}

.plan_price {
  color: var(--Marineblue);
  font-weight: bold;
  letter-spacing: 0.8;
  font-size: 1.15rem;
}

.typeOf_game {
  color: var(--Marineblue);
  font-size: 1.2rem;
  font-weight: bold;
}

.typeOf_game_plan {
  color: var(--Coolgray);

}

.online_services,
.large_storage, .custom_profile {
  color: var(--Coolgray);
  display: flex;
  justify-content: space-between;
  padding: 5px 0;

}

.online_services_price,
.large_storage_price, .custom_profile_price {
  /* color: var(--Marineblue); */
  font-size: 1rem;
  font-weight: bold;
}

.step4_total_bill_monthly {
  padding: 15px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--Coolgray);
}

.step4_back_confirm_btn {
  /* border: 2px solid saddlebrown; */
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.step4_total_bill_monthly_price {
  font-size: 1.3rem;
  color: var(--Purplishblue);
  font-weight: bold;
}

.step4_back_confirm_btn button {
  font-size: 1rem;
  padding: 7px 12px;
  /* color: var(--White); */
  border-radius: 7px;
  cursor: pointer;
  border: 2px solid transparent;
  font-weight: bold;
}

.step4-backBtn {
  background-color: var(--White);
  color: var(--Coolgray);
}

.step4-backBtn:hover {
  transition: all ease-in-out 0.5s;
  background-color: var(--White);
  color: var(--Marineblue);
}

.step4-confirmBtn {
  color: var(--White);
  background-color: var(--Marineblue);
}

.step4-confirmBtn:hover {
  transition: all ease-in-out 0.5s;
  color: var(--White);
  background-color: var(--Purplishblue);
}


/* STEP 5 */
.step5 {
  /* border: 2px solid red; */
  width: 64%;
  margin: 2.5rem 3.5rem;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.step5 img {
  height: 80px;
  width: 80px;
}

.step5 h2 {
  margin: 1rem 0;
  color: var(--Marineblue);
  font-size: 2.1rem;
}

.step5 p {
  color: var(--Coolgray);
  letter-spacing: 0.5px;
}



@media screen and (width <=1024px) {
  .container {
    width: 80%;
    height: auto;
    /* border: 2px solid green; */
  }
}

@media screen and (width <=600px) {
  .container {
    width: 98%;
    height: 85%;
    /* border: 2px solid green; */
  }

  .sidebar {
    width: 40%;
  }

  .step1 {
    margin: 2rem 1rem;
  }

  .step3 {
    /* border: 2px solid red; */
    margin: 2rem 0.5rem;
  }

  .step3_box {
    gap: 5px;
    padding: 15px;
  }

  .step3_box_info {
    width: 70%;
    /* border: 2px solid red; */
    margin-left: 5px;
  }
}

@media screen and (width <=414px) {
  body {
    justify-content: flex-start;
    /* background-color: var(--Lightgray); */
  }

  .container {
    flex-direction: column;
    width: 100%;
    /* border: 2px solid green; */
    background-color: var(--Lightgray);
    height: 100%;
  }

  .step1_heading {
    font-size: 2.2rem;
  }

  .sidebar {
    /* border: 2px solid green; */
    width: 100%;
    height: 25%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    min-height: 0px;
    background-image: url("assets/images/bg-sidebar-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
  }

  .step {
    flex-direction: row;
  }

  .sidebar-step {
    display: none;
  }

  .step-info {
    display: none;
  }

  .step1 {
    /* border: 2px solid red; */
    background-color: var(--White);
    width: 95%;
    /* max-height: 70%; */
    padding: 2rem 1rem;
    margin: 0 auto;
    position: relative;
    bottom: 10%;
    border-radius: 10px;
    /* font-size: 2rem; */
  }

  .step1_heading {
    font-size: 3rem;
    margin: 0;
  }

  .step1_info {
    font-size: 1.2rem;
  }

  .step1 form label {
    font-size: 1.2rem;
  }

  .step1 form input {
    height: 2.7rem;
    padding-left: 5px;
    width: 100%;
  }

  .step1_nextDiv {
    /* border: 2px solid red; */
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: var(--White);
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }


  .step1_nextBtn {
    font-size: 1.3rem;
    margin-right: 1rem;
  }

  /* STEP 2 */
  .step2 {
    background-color: var(--White);
    margin: 0 auto;
    height: auto;
    width: 95%;
    /* max-height: 70%; */
    padding: 2rem 1rem;
    margin: 0 auto;
    position: relative;
    bottom: 10%;
    border-radius: 10px;
    padding: 25px 15px;
  }

  .step2_monthly,
  .step2_yearly {
    gap: 10px;
    flex-direction: column;
  }

  .box {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
  }

  .box img {
    width: 35px;
    height: 35px;
    margin-top: 0.5rem;
    /* border: 2px solid red; */
    align-self: flex-start;
  }

  .step2_box_title {
    margin-top: 0.2rem;
  }

  .step2_mon_year_btn {
    margin-top: 1.2rem;
  }

  .step_2_back_next_btn {
    /* border: 2px solid saddlebrown; */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--White);
    height: 10%;
  }

  .step_2_back_next_btn button {
    margin: 0 10px;
  }

  /* STEP 3 */
  .step3 {
    background-color: var(--White);
    margin: 0 auto;
    height: auto;
    width: 95%;
    /* max-height: 70%; */
    padding: 2rem 1rem;
    margin: 0 auto;
    position: relative;
    bottom: 10%;
    border-radius: 10px;
    padding: 25px 15px;
  }

  .step3_box {
    gap: 5px;
    padding: 15px;
  }

  .step3_box_info {
    flex-basis: 85%;
    /* border: 2px solid red; */
    margin-left: 10px;
  }

  .step3_mon_year_btn {
    margin-top: 1.2rem;
  }

  .step3_back_next_btn {
    /* border: 2px solid saddlebrown; */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--White);
    height: 10%;
  }

  .step3_back_next_btn button {
    margin: 0 10px;
  }

  /* STEP 4 */
  .step4 {
    background-color: var(--White);
    margin: 0 auto;
    height: auto;
    width: 95%;
    /* max-height: 70%; */
    padding: 2rem 1rem;
    margin: 0 auto;
    position: relative;
    bottom: 10%;
    border-radius: 10px;
    padding: 25px 15px;
  }

  .step4_back_confirm_btn {
    /* border: 2px solid saddlebrown; */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--White);
    height: 10%;
  }

  .step4_back_confirm_btn button {
    margin: 0 10px;
  }

  /* STEP 5 */
  .step5 {
    /* border: 2px solid red; */
    background-color: var(--White);
    width: 95%;
    /* max-height: 70%; */
    padding: 2rem 1rem;
    margin: 0 auto;
    position: relative;
    bottom: 9%;
    border-radius: 10px;
    /* font-size: 2rem; */
    padding: 5rem 1rem;
  }

  .step5 p {
    word-spacing: 2px;
    letter-spacing: 1px;
  }

}